{% extends "base.html" %}
{% block body %}
    {% if not clients %}
        <h3>No Clients yet</h3>
        <form method="post" action="{{ url_for('create_client') }}">
            <button type="submit">Add Client</button>
        </form>
    {% endif %}
    {% if clients %}
        
        <h1 class="header-1">Clients</h1>
        {% for client in clients %}
        <div class="form-fieldset mb-5">
        <ul>
            <li>
            <div class="client-info">
                <h2 style="font-weight: bold;">{{ client.name }}</h2>
                <div>
                    <small>{{ client.email }}</small>
                    <span>{{ client.phone }}</span>
                </div>
                <div>
                    <span style="font-size: 1.3rem; font-weight: bolder;">{{ client.note }}</span>
                </div>
                <hr>

                {% if client.project %}
                    <h1>Projects</h1>
                    <hr>
                    {% for project in client.project %}
                        
                        <ul>
                            <li>
                                <div>
                                    
                                    <h3 style="font-weight: bolder;">{{ project.title }}</h3>
                                    <div class="mb-3">
                                        <span style="font-weight: bolder;">Description:</span>
                                        <span>{{ project.description }}</span>
                                    </div>
                                    <p>
                                        <span style="font-weight: bolder;">Start on:</span>
                                        <span>{{ project.start_date }}</span>
                                    </p>
                                    <p>
                                        <span style="font-weight: bolder;">Deadline:</span>
                                        <span>{{ project.deadline }}</span>
                                    </p>
                                    <span style="font-weight: bolder;">Status: {{ project.status }}</span>
                                </div>
                                
                            </li>
                        </ul>
                        
                        <a href="{{ url_for('project', project_id=project.id) }}">
                            <button class="btn btn-primary mt-3 mb-1">View Project details</button>
                        </a>
                        <div>
                            <a href="{{ url_for('edit_project', project_id=project.id) }}">
                                <button class="btn btn-primary mb-1">Edit Project</button>
                            </a>
                        </div>
                        <div style="margin-bottom: 24px;">
                            <a href="{{ url_for('create_task', project_id=project.id) }}">
                                <button class="btn btn-primary mb-2">Create Task</button>
                            </a>
                        </div>
                        <hr>
                    {% endfor %}
                {%endif%}
                
                <div>
                    <a href="{{ url_for('edit_client', client_id=client.id) }}">
                        <button class="btn btn-primary mb-1">Edit Client</button>
                    </a>
                </div>
                <div>
                    <a href="{{ url_for('delete_client', client_id=client.id) }}">
                        <button style="font-weight: bolder;" class="btn btn-danger mb-1">Delete</button>
                    </a>
                </div>

                <div>
                    <a href="{{ url_for('create_project', client_id=client.id) }}">
                        <button class="btn btn-primary mb-1">Create Project</button>
                    </a>
                </div>
            </div>
            </li>
        </ul>
        <hr>
        </div>
        {% endfor %}
        <form method="post" action="{{ url_for('create_client') }}">
            <button class="btn btn-outline-primary mt-3 mb-4" type="submit">Add Client</button>
        </form>
        
    {% endif %}
    
{% endblock %}
