{% extends "base.html" %}
{% block body %}
    
    <div>
        <div>
            <h1>{{ project.title }}</h1>
            <div class="mb-3">
                <span style="font-weight: bolder;">Description:</span>
                <span>{{ project.description }}</span>
            </div>
            <p>
                <span style="font-weight: bolder;">Start on:</span>
                <span>{{ project.start_date }}</span>
            </p>
            <p>
                <span style="font-weight: bolder;">Deadline:</span>
                <span>{{ project.deadline }}</span>
            </p>
            <span style="font-weight: bolder;">Status: {{ project.status }}</span>
        </div>
                
        
        

        <div class="mt-5 mb-1">
            <a href="{{ url_for('edit_project', project_id=project.id) }}">
                <button class="btn btn-primary">Edit Project</button>
            </a>
        </div>

        <div class="mb-1">
            <form method="POST" action="{{ url_for('delete_project', project_id=project.id) }}">
                <button style="font-weight: bolder;" class="btn btn-danger" type="submit">Delete Project</button>
            </form>
        </div>

        <div class="mb-1">
            <form method="POST" action="{{ url_for('create_task', project_id=project.id) }}">
                <button class="btn btn-primary" type="submit">Create Task</button>
            </form>
        </div>

        <hr>

        {% if project.tasks %}
            <div class="mt-5">
            <h1 style="font-weight: bolder;">Tasks</h1>
            <hr>
            {% for task in project.tasks %}
                <div>
                    <span style="font-weight: bolder; font-size: 1.2rem;">Task Title:</span>
                    <p>{{ task.title }}</p>
                    <p>
                        <span style="font-weight: bolder;">Status: </span>
                        <span style="font-weight: bolder;">{{ task.status }}</span>
                    </p>
                    <div>
                        <p>
                            <span style="font-weight: bolder;">Due:</span>
                            <span>{{ task.due_date }}</span>
                        </p>
                    </div>
                    

                    <div class="mb-2">
                        <a href="{{ url_for('edit_task', task_id=task.id) }}">
                            <button class="btn btn-primary">Edit Task</button>
                        </a>
                    </div>

                    <div>
                        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
                            <button style="font-weight: bolder;" class="btn btn-danger" type="submit">Delete task</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
            
    
{% endblock %}
