{% extends "base.html" %}
{% block body %}
    
    <div>
        <ul>
            <li>
                <div>
                    <h1>{{ project.title }}</h1>
                    <span>{{ project.description }}</span>
                    <h5>
                        Start on:
                        <span>{{ project.start_date }}</span>
                    </h5>
                    <h5>
                        Deadline:
                        <span>{{ project.deadline }}</span>
                    </h5>
                    <span class="span">Status: {{ project.status }}</span>
                </div>
                
            </li>
        </ul>
        

        <div style="margin-bottom: 24px;">
            <a href="{{ url_for('edit_project', project_id=project.id) }}">
                <button class="btn btn-primary mb-2">Edit Project</button>
            </a>
        </div>

        <div style="margin-bottom: 24px;">
            <form method="POST" action="{{ url_for('delete_project', project_id=project.id) }}">
                <button class="btn btn-primary mb-2" type="submit">Delete Project</button>
            </form>
        </div>

        <div style="margin-bottom: 24px;">
            <form method="POST" action="{{ url_for('create_task', project_id=project.id) }}">
                <button class="btn btn-primary mb-2" type="submit">Create Task</button>
            </form>
        </div>


        {%  if project.tasks %}
            <h1>Tasks</h1>
            {% for task in project.tasks %}
                <div>
                    <h3>{{ task.title }}</h3>
                    <span>{{ task.status }}</span>
                    <div>
                        <span>
                            Due:
                            <h4>{{ task.due_date }}</h4>
                        </span>
                    </div>
                    

                    <div style="margin-bottom: 24px;">
                        <a href="{{ url_for('edit_task', task_id=task.id) }}">
                            <button class="btn btn-primary mb-2">Edit Task</button>
                        </a>
                    </div>

                    <div>
                        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
                            <button class="btn btn-primary mb-2" type="submit">Delete task</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
            
    
{% endblock %}
