{% extends "base.html" %}
{% block body %}
    <div class="form-group">
        <fieldset class="form-fieldset w-100">
            <legend><h1 style="font-weight: bolder;">Sign up</h1></legend>
            <form class="register-form" method="POST">
            {{ form.hidden_tag() }}
            
                
                <div>
                    <span class="form-label">{{ form.username.label }}</span>
                    <div>
                        {{ form.username(class="form-control") }}
                    </div>
                    {% for error in form.username.errors %}
                        {% if error %}
                            <span style="color: red;">{{ error }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <span class="form-label">{{ form.email.label }}</span>
                    <div>
                        {{ form.email(class="form-control") }}
                    </div>
                    {% for error in form.email.errors %}
                        {% if error %}
                            <span style="color: red;">{{ error }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <span class="form-label">{{ form.password.label }}</span>
                    <div>
                        {{ form.password(class="form-control") }}
                    </div>
                    {% for error in form.password.errors %}
                        {% if error %}
                            <span style="color: red;">{{ error }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <span class="form-label">{{ form.confirm_password.label }}</span>
                    <div>
                        {{ form.confirm_password(class="form-control") }}
                    </div>
                    {% for error in form.confirm_password.errors %}
                        {% if error %}
                            <span style="color: red;">{{ error }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    {{ form.submit(class="btn btn-outline-primary mt-3 mb-4") }}
                </div>
                </form>
            </fieldset>
        
    </div>
{% endblock %}